{% extends "base.html" %}
{% load static %}
{% block title %}Друзья{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/friendList.css"/>
{% endblock %}
{% block content2 %}
    {#    <table class="cart">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <th>Image</th>#}
    {#            <th>Product</th>#}
    {#            <th>Quantity</th>#}
    {#            <th>Remove</th>#}
    {#            <th>Unit price</th>#}
    {#            <th>Price</th>#}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    <div class="jumbotron">
        <h1>Друзья</h1>
        <hr class="my-4">
        {% if friends.count == 0 %}
            <div><p>Пустота...</p></div>
        {% else %}
            {% for friend in friends %}
                <div class="friendLi">
                    <div style="width: 20%">
                        <a href="{% url 'users:user_profile' friend.friend_id.id %}">{{ friend.friend_id.first_name }} {{ friend.friend_id.last_name }}</a>
                    </div>
                    <div style="margin-left: 20%; width: 35%">
                        <a>{{ friend.friend_id.last_login }}</a>
                    </div>
                    <div class="actions">
                        <form action="{% url 'friendlist:delete_friend' friend.friend_id.id user.id %}" method="postx">
                            {% csrf_token %}
                            <input type="submit" value="Удалить">
                        </form>
                        <form action="{% url 'message:message_list' user.id friend.friend_id.id %}" method="get">
                            {% csrf_token %}
                            <input type="submit" value="Написать">
                        </form>
                    </div>
                </div>
                <hr class="my-4">
                {#            <tr>#}
                {#                <td>#}
                {#                    <a href="{{ product.get_absolute_url }}"> <img#}
                {#                            width="200"#}
                {#                            height="150"#}
                {#                            src="#}
                {#                                    {% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}">#}
                {#                    </a>#}
                {#                </td>#}
                {#                <td>{{ product.name }}</td>#}
                {#                <td>#}
                {#                    <form action="{% url "cart:cart_add" product.id %}" method="post">#}
                {#                        {{ item.update_quantity_form.quantity }}#}
                {#                        {{ item.update_quantity_form.update }}#}
                {#                        <input type="submit" value="Update">#}
                {#                        {% csrf_token %}#}
                {#                    </form>#}
                {#                </td>#}
                {#                <td><a href="{% url "cart:cart_remove" product.id %}">Remove</a></td>#}
                {#                <td class="num">${{ item.price }}</td>#}
                {#                <td class="num">${{ item.total_price }}</td>#}
                {#            </tr>#}
            {% endfor %}
            {#        <form action="{% url "message:send_message" %}" method="post">#}
            {#            {% csrf_token %}#}
            {#            {{form}}#}
            {#            <input type="submit" value="Отправить">#}
            {#        </form>#}
        {% endif %}
    </div>

    {#        <tr class="total">#}
    {#            <td>Total</td>#}
    {#            <td colspan="4"></td>#}
    {#            <td class="num">${{ cart.get_total_price }}</td>#}
    {#        </tr>#}
    {#        </tbody>#}
    {#    </table>#}
    {#    <p class="text-right">#}
    {#        <a href="{% url "goods:product_list" %}" class="button light">Continue shopping</a>#}
    {#        <a href="{% url "orders:order_create" %}" class="button">Checkout</a>#}
    {#    </p>#}
{% endblock %}