<h2>Регистрация нового пользователя</h2>
<form method="post">
    {% csrf_token %}
    <label for="{{ form.first_name.id_for_label }}">Имя:</label>
    {{ form.first_name }}
    <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
    {{ form.last_name }}
    <label for="{{ form.telephone_numb.id_for_label }}">Номер телефона:</label>
    {{ form.telephone_numb }}
    <label for="{{ form.username.id_for_label }}">user:</label>
    {{ form.username }}
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
    <label for="{{ form.password1.id_for_label }}">Пароль:</label>
    {{ form.password1 }}
    <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label>
    {{ form.password2 }}
    <button type="submit">Зарегистрировать</button>
    <h3><a href="/">Назад</a></h3>
</form>
